/*---------GENERAL----------*/

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "TimesPSMT";
	src: url("../assets/fonts/TimesNewRomanPSMTRegular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "TimesPSMT";
	src: url("../assets/fonts/TimesNewRomanPSMTBold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 80px;
	font-size: 15px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
#about div h2 + p {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	text-wrap: balance;
}

p,
button {
	font-family: "TimesPSMT", "Times New Roman", Georgia, serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	text-wrap: pretty;
}

img {
	/* removes padding under image that shows because img is inline element and they sit on the text baseline and not bottom of the container */
	vertical-align: middle;
}

#about img,
#menu img {
	display: block;
	width: 100%;
	height: auto;
	min-width: 0;
	max-height: 600px;
	object-fit: contain;
}

/*--------------------------------------------------HEADER-------------*/
header {
	max-width: 1600px;
}

header {
	letter-spacing: 4px;

	& div:first-child {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 15px;
		height: 54.5px;
		padding: 0 32px;
		background-color: white;
		box-shadow:
			0 2px 5px 0 rgba(0, 0, 0, 0.16),
			0 2px 10px 0 rgba(0, 0, 0, 0.12);

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
	}

	div:first-child > a {
		padding: 8px 0;
		text-decoration: none;
		color: inherit;
		/* width: fit-content; */
		flex: 0 0 auto;
	}

	div:nth-child(2) {
		position: relative;
	}

	div:nth-child(2) h1 {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 34px 22px;
		font-size: 33px;
		color: #54575d;
	}

	img {
		width: 100%;
	}
}

h1,
h2,
h3 {
	letter-spacing: 5px;
}

nav {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	column-gap: 32px;

	a {
		text-decoration: none;
		color: black;
		padding: 8px 0;
	}

	a:hover {
		cursor: pointer;
		background-color: #cccccc;
	}
}

#hamburger {
	display: none;
	background: none;
	border: none;
	height: 24px;
	width: 24px;
}

#hamburger svg {
	height: 24px;
	width: 24px;
}


/*---------------------------------------------SEARCHBAR-------------*/
#searchbar-container{
	display: flex;
	flex-direction: column;
	width: 44%;
	position: relative;
}

#searchbar {
	background-image: url(./assets/images/magnifying-glass.svg);
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 18px;
	padding: 8px 10px 8px 34px;
	border: 1px solid rgb(158, 156, 156);
	border-radius: 20px;
}

#searchbar-dropdown {
	position: absolute;
	top: 36px;
	left: 14px;
	visibility: hidden;
	list-style-type: none;
	width: 93%;
	height: 260px;
	overflow-y: scroll;

	li {
		background-color: #efeef4;
		padding: 7px 10px;
		border: 1px solid white;
		cursor: pointer;
		font-size: 14px;
	}

	li.highlighted {
		background-color: #e6e3f3;
	}
}

#searchbar-dropdown.open {
	visibility: visible;
}

/*---------------------------------------------DISH MODAL---------*/
#dish-modal {
	display: flex;
	border: 2px solid #cac3eb;

	img {
		max-height: 60%;
	}

	#dish-info-container{
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: flex-start;
	}
}

#dish-modal::backdrop {
	background: #e6e3f3e2;
}

/*---------------------------------------------MAIN---------*/
main {
	min-width: 320px;
	max-width: 1100px;
	width: 100%;
	padding: 0 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 64px;

	hr {
		border: none;
		width: 100%;
		margin: 10px 0;
		height: 1px;
		background-color: rgb(238, 238, 238);
	}
}

/*---------------------------------------------ABOUT---------*/
#about,
#menu {
	display: flex;
	flex-direction: row;
	min-width: 0;
	max-width: 1100px;
	width: 100%;
	justify-content: center;
	align-items: flex-start;
	column-gap: 48px;
	row-gap: 48px;
}

#about,
#menu,
#contact {
	scroll-margin-top: 75px;
}

.section-h2 {
	font-size: 33px;
}

#about img {
	flex: 1;
	opacity: 0.75;
}

#about > div {
	flex: 1;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 18px;

	.section-h2 {
		padding-bottom: 22px;
	}

	.section-h2 + p {
		font-size: 17px;
		letter-spacing: 5px;
	}

	> p:nth-of-type(2) span {
		padding: 2px 8px;
		background-color: #f2f2f2;
	}

	> p:last-child {
		color: #747474;
	}
}

/*---------------------------------------------MENU---------*/

#menu {
	> div {
		display: flex;
		flex-direction: column;
		flex: 1;
		font-size: 16px;
		width: 100%;
		row-gap: 37px;
	}

	> div .section-h2 {
		align-self: center;
		padding-bottom: 10px;
	}

	> div .dish-item {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}

	> div .dish-item > h3 {
		font-size: 20px;
		position: relative;
		width: fit-content;
		/* display: inline-block; */
	}

	> div .dish-item p {
		font-size: 15px;
		color: rgb(117, 117, 117);
	}

	img {
		flex: 1;
		opacity: 0.75;
	}

	> div .dish-item > h3::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		height: 2px;
		background-color: #cfdfa9;
		transition: width 0.3s ease;
	}

	> div .dish-item > h3:hover::after {
		width: 100%;
	}
}

/*---------------------------------------------CONTACT---------*/
#contact {
	display: flex;
	flex-flow: column wrap;
	row-gap: 18px;
	padding: 0 16px;
	min-width: 0;
	width: 100%;

	.section-h2 {
		margin-bottom: 30px;
	}

	address {
		font-size: 18px;
		font-weight: 600;
		color: #607d8b;
		font-style: normal;
	}

	a {
		text-decoration: none;
		color: #607d8b;
	}

	form {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}

	form button {
		padding: 9px 16px;
		background-color: #f1f1f1;
		align-self: flex-start;
		border: none;
		font-size: 15px;
		margin-top: 10px;
	}

	label {
		visibility: hidden;
		height: 0;
		width: 0;
	}

	#reservationName,
	#orderDate,
	#servingSize,
	#message {
		padding: 16px 8px;
		border: none;
		border-bottom: 2px solid rgb(204, 204, 204);
		width: 100%;
	}
}

/*---------------------------------------------FOOTER---------*/
footer {
	height: 116.5px;
	width: 100%;
	background-color: #f1f1f1;
	display: grid;
	place-content: center;
}

/*---------------------------------------------SLIDESHOW---------*/
#dish-slideshow-container {
	position: relative;
	max-width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	background-color: #ededef;
	padding: 40px 40px 0;
	row-gap: 10px;

	> div:first-child {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		gap: 25px;
		flex: 1;
		min-height: 0;
	}

	#slide-container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 0;
		width: 650px;
		height: 100%;
		row-gap: 10px;
	}

	#slide-caption {
		color: #495264;
		background-color: #ededef;
		font-size: 16px;
		min-height: 0;
		flex-shrink: 0;
		text-align: center;
	}

	.slide {
		position: relative;
		display: none;
		vertical-align: top; /*Remove space under img*/
	}

	.slide.active {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		height: 100%;
		min-height: 0;
		flex: 1;
	}

	.slide.active img {
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
		opacity: 0.75;
		object-fit: contain;
	}

	.slide .img-number {
		position: absolute;
		top: 10px;
		left: 10px;
		color: rgba(0, 0, 0, 0.5);
		background-color: rgba(207, 223, 169, 0.8);
		padding: 5px 10px;
		border-radius: 8px;
		font-size: 15px;
		font-weight: 700;
		z-index: 2;
	}

	.prev,
	.next {
		border: none;
		background-color: rgba(207, 223, 169, 0.7);
		padding: 5px 10px;
		border-radius: 8px;
		color: rgba(0, 0, 0, 0.35);
		cursor: pointer;
		font-size: 30px;
		font-weight: 700;
		z-index: 2;
	}

	#thumbnail-container {
		display: flex;
		flex-flow: row wrap;
		/* flex-flow: row nowrap; */
		max-width: 100%;
		min-height: 80px;
		gap: 4px;
		flex-shrink: 0;
	}

	#thumbnail-container img {
		height: 65px;
		width: 56px;
		cursor: pointer;
		object-fit: cover;
		border: 3px solid transparent;
		opacity: 0.6;
		transition:
			opacity 0.3s,
			border 0.3s;
	}

	#thumbnail-container img:hover {
		opacity: 0.8;
	}

	#thumbnail-container img.active {
		opacity: 1;
		border: 3px solid #abc56c;
	}
}

.prev:focus,
.next:focus,
#thumbnail-container:focus {
	outline: none;
}

/*---------------------------------------------MEDIA QUERIES---------*/
@media screen and (max-width: 720px) {
	header > div nav {
		position: absolute;
		top: 54.5px;
		right: 0;
		flex-direction: column;
		align-items: flex-end;
		background: #fff;
		opacity: 0;
		pointer-events: none; /*prevent clicks while menu is closed*/
		transition: opacity var(--duration) ease;
		--duration: 200ms;
	}

	header > div nav a {
		width: 100%;
		text-align: end;
		border-top: 2px solid #ccc;
		background: #f5f5f5;
	}

	header > div nav.open {
		opacity: 1;
		pointer-events: auto;
		--duration: 400ms;
	}

	#about,
	#menu {
		flex-direction: column;
	}

	#hamburger {
		display: block;
		cursor: pointer;
	}
}
